@charset"utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

/* サイズの値にパディング／ボーダーも含むようにする */
*, *::before, ::after {
	box-sizing: border-box;
}

/* スクリーントーンのカバー */
/*.cover::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,.1) radial-gradient(rgba(0,0,0,.1) 25%, transparent 0) center / 5px 5px;
}*/

/* ページコンテンツのスタイル指定 */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*background-color: #ffffff;*/
  color: #333333;
  font-size: 18px;
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.6;
}

main {
  box-sizing: border-box;
  margin: 0;
  margin-top: -85px;
  padding: 4em 16px;
  font-size: 1.6rem;
  text-align: left;
  padding: 0 50px; 
}
main h1,
main .lead,
main section {
  box-sizing: border-box;
  width: 1040px;
  margin: 1em auto;
}
main h1,
main h2,
main h3 {
	line-height: 1.2;
}
main h2,
main h3 {
	letter-spacing: 0;
	margin-top: 15px;
}
main h1 {
	margin-bottom: 2em;
	font-size: 3rem;
	font-feature-settings: "palt";
	margin-top: 0;
}
main h2 {
	font-size: 3rem;
	margin-left: -40px;
	margin-bottom: 20px;
	margin-top: 0;
}
main h3 {
	font-size: 25px;
	margin-left: -40px;
	margin-bottom: 15px;
	margin-top: 40px;
}
main p {
	margin-top: -10px;
}

figure {
  margin-top: -60px;
}

#home h1{
  font-size:  55px;
  line-height: 1;
  color: #ffffff;
  font-family: 'Noto Sans', sans-serif;
  margin-bottom: 20px;
  border: none;
}

#home .content{
  margin-top: 10px;
  position: relative;
  z-index: 100; 
}

#home p{
  font-size: 18px;
/*  ?:color: #ffffff;*/
}

#home footer{
  width: 960px;
  margin: 150px auto 0 auto;
  text-align: center;
  background-color: transparent;
}

#home {
  /*background-image: url(img/Koyo1.jpg);*/
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
	height: 50vh;
}

#wrap{
  clear: both;
  background-color: #ffffff;
  margin-top: 10px;
  padding: 35px 0;
}

#home #wrap{
  background-color: transparent;
  margin-top: 0;
  padding: 0;
}

/*見出しをおしゃれにする*/
.icon:before{
  content: "";
  padding-right: 10px;
  border-left: 8px solid #009cd3;
}

.content h2 {
	padding: 0px 10px;
}

.content h3 {
	font-size: 20px;
	padding: 0px 10px;
}

.content p {
	margin-left: 18px;
	text-indent: 1em;
	margin-top: 0;
}

.thm {
		position: relative;
		margin: 2em 0;
    padding: 25px 10px 7px;
    color: #5d627b;
    background: white;
		border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
		border-radius: 0 0 5px 5px;
}
.thm .box-title {
    position: absolute;
    display: inline-block;
    top: 2px;
    left: 0px;
    padding: 0 7px;
    height: 28px;
    line-height: 28px;
    font-size: 18px;
    background: white;
    color: black;
    font-weight: bold;
}
.thm p {
    margin: 0;
    padding: 0;
		padding-left: 8px;
		padding-top: 4px;
		color: #333333;
		font-family: 'Noto Sans', sans-serif;
}

.lem {
		position: relative;
		margin: 2em 0;
    padding: 25px 10px 7px;
    color: #5d627b;
    background: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
		border-radius: 5px;
}
.lem .box-title {
    position: absolute;
    display: inline-block;
    top: 2px;
    left: 0px;
    padding: 0 7px;
    height: 28px;
    line-height: 28px;
    font-size: 18px;
    background: white;
    color: black;
    font-weight: bold;
}
.lem p {
    margin: 0;
    padding: 0;
		padding-left: 8px;
		padding-top: 4px;
		color: #333333;
		font-family: 'Noto Sans', sans-serif;
}

.line {
	position: relative;
	border-left: solid 8px #009cd3;/*左線*/
}

.line:after {
	position: absolute;
	left: 0;
	bottom: 0;
	content: '';
	width: 100%;
	height: 0;
	border-bottom: solid 1.4px rgba(0, 0, 0, 0.6);
}

.block {
	position: relative;
	border-left: solid 8px #009cd3;/*左線*/
}

.mark{
	background:linear-gradient(transparent 89%, #ffbf7f 89%);
	font-weight:bold;
	font-size: 22px;
	line-height: 22px;
	height: 22px;
}

/*header menuの設定*/

ul {
  list-style:none;
}

.header__flex {
  display: flex;
  height:35px;
  align-items: center;
}
.header__flex nav {
	margin-left: auto;
	width: 100%;
	background-color: rgba(0,0,0,.9);
	position: fixed;
	z-index: 10; 
	top: 0;
	left: 0;
}
.header__flex ul {
  display: flex;
}
.header__flex ul li {
  margin-left: 0;
	margin-right: 25px;
	margin-top: -8px;
	margin-bottom: -8px;
	font-size: 20px;
}
.header__flex ul li:first-child {
  margin-right: auto;
	font-size: 22px;
}
.header__flex ul li a {
  text-decoration: none;
	color: #fff;
	/*font-weight: bold;*/
}
.header__flex #lighter {
  font-weight: lighter;
}
.header__flex #active {
  color: #f69ec7;
}
.header__flex ul li a:hover{
	color: #009cd3;
}

/*残りのページの文字の大きさなどの設定*/

.content section{
	width: 100%;
	padding: 0px 40px 0px 40px;
}
.content li:first-child{
	margin-top: -10px;
}

.preprint {
  list-style-type: none;
	margin-left: auto;
}

.content a {
  color: #009cd3;
  text-decoration: none;
}

.link:visited{
  color: #FFD400;
}
